.main_menu{
	width:400px;
	position:relative;
	top:100px;
}

.title {
	font-family:Arial;
	font-size:20pt;
	font-weight:bold;
	font-style:italic;
}

button[type="submit"] {
	position:relative;
	left:20px;
}

.hint {
	color:#c0c0c0;
}
